body {
	background-color: #dddddd;
	
	font-family: '', sans-serif;
	font-size: 50px;
	
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.ps {
	background-color: #ffffff;
	
	cursor: pointer;
}

.ps:before,
.ps:after
{
	background-color: #222222;
	border-color: #222222;
}



header {
	background-color: #222222;
	color: #ffffff;
	
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header h1 {
	font-family: '', sans-serif;
	font-size: 2em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	
	display: block;
	
}

header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 300;
	text-align: center;
}


.container {
	text-align: center;
	display: block;
	margin: .25em auto;
	width: 5em;
}


ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 1em;
	line-height: 1;
	
	display: inline-block;
	margin: 1em;
}

.icon-title {
	font-family: 'Raleway', sans-serif;
	font-size: .0625em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	
	display: block;
	margin: 0;
	padding: 0;
}