

/* Animation timing functions:
* 
* Effect - function
* Pop - cubic-bezier(0, 1.4, 1, 1.4)
* Bounce - cubic-bezier(1, 1.75, 0.35, 0.75)
* Hit a wall - cubic-bezier(1, 1.75, 0.05, 0.6)
* Intense ease-in - cubic-bezier(0.75, 0, 0.95, 0.75)
* 
*/

.ps {
	font-size: 1em;
	line-height: 1;
	
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 1em;
	width: 1em;
	
	position: relative;
}

.ps-2x {
	font-size: 2em;
}

.ps-3x {
	font-size: 3em;
}

.ps:before,
.ps:after
{
	border: none;
	
	font-size: 1em;
	
	box-sizing: border-box;
	display: block;
	
	position: absolute;
}



/* Close/Remove */

.ps.ps-close:before,
.ps.ps-remove:before,
.ps.ps-times:before
{
	content: "";
	
	height: 2%;
	width: 50%;
	
	top: 49%;
	left: 25%;
	
	transform: rotateZ(-135deg);
}

.ps.ps-close:after,
.ps.ps-remove:after,
.ps.ps-times:after
{
	content: "";
	
	height: 2%;
	width: 50%;
	
	top: 49%;
	left: 25%;
	
	transform: rotateZ(-45deg);
}

.ps.hidden.ps-close:before,
.ps.hidden.ps-remove:before,
.ps.hidden.ps-times:before,
.hidden .ps.ps-close:before,
.hidden .ps.ps-remove:before,
.hidden .ps.ps-times:before
{
	height: 0;
	transform: rotateZ(-360deg);
}

.ps.hidden.ps-close:after,
.ps.hidden.ps-remove:after,
.ps.hidden.ps-times:after,
.hidden .ps.ps-close:after,
.hidden .ps.ps-remove:after,
.hidden .ps.ps-times:after
{
	height: 0;
	transform: rotateZ(-180deg);
}

.ps.ps-animate.ps-close:before,
.ps.ps-animate.ps-remove:before,
.ps.ps-animate.ps-times:before
{
	transition: transform 0.5s cubic-bezier(1, 1.75, 0.35, 0.75) 0.4s, height 0.3s ease-in-out;
}

.ps.ps-animate.ps-close:after,
.ps.ps-animate.ps-remove:after,
.ps.ps-animate.ps-times:after
{
	transition: transform 0.4s cubic-bezier(1, 1.75, 0.35, 0.75) 0.4s, height 0.3s ease-in-out;
}



/* Add/Plus */

.ps.ps-add:before,
.ps.ps-plus:before
{
	content: "";
	
	height: 2%;
	width: 50%;
	
	top: 49%;
	left: 25%;
}

.ps.ps-add:after,
.ps.ps-plus:after
{
	content: "";
	
	height: 2%;
	width: 50%;
	
	top: 49%;
	left: 25%;
	
	transform: rotateZ(-90deg);
}

.ps.hidden.ps-add:before,
.ps.hidden.ps-plus:before,
.hidden .ps.ps-add:before,
.hidden .ps.ps-plus:before
{
	height: 0;
	transform: rotateZ(-180deg);
}

.ps.hidden.ps-add:after,
.ps.hidden.ps-plus:after,
.hidden .ps.ps-add:after,
.hidden .ps.ps-plus:after
{
	height: 0;
	transform: rotateZ(-360deg);
}

.ps.ps-animate.ps-add:before,
.ps.ps-animate.ps-plus:before
{
	transition: transform 0.5s cubic-bezier(1, 1.75, 0.35, 0.75) 0.4s, height 0.3s ease-in-out;
}

.ps.ps-animate.ps-add:after,
.ps.ps-animate.ps-plus:after
{
	transition: transform 0.4s cubic-bezier(1, 1.75, 0.35, 0.75) 0.4s, height 0.3s ease-in-out;
}



/* Accept/Check */

.ps.ps-accept:before,
.ps.ps-check:before
{
	background-color: transparent !important;
	border-width: 0;
	border-bottom-width: .02em;
	border-left-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 15%;
	width: 50%;
	
	top: 57.0775%;
	left: 27.0195%;
	
	transform-origin: 0% 0%;
	transform: rotateZ(-45deg);
}




/* Home */

.ps.ps-home:before {
	background-color: transparent !important;
	border-style: solid;
	border-width: 0em;
	border-top-width: .02em;
	border-right-width: .02em;
	
	content: "";
	
	height: 42.426%;
	width: 42.426%;
	
	top: 33.787%; /* 28.787 + 5 */
	left: 28.787%;
	
	transform: rotateZ(-45deg);
}

.ps.ps-home:after {
	background-color: transparent !important;
	border-style: solid;
	border-width: 0.02em;
	border-top-width: 0em;
	
	content: "";
	
	height: 30%;
	width: 40%;
	
	top: 45%;
	left: 30%;
}




/* Gear */

.ps.ps-gear:before,
.ps.ps-cog:before,
.ps.ps-settings:before
{
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-radius: .5em;
	
	content: "";
	
	height: 50%;
	width: 50%;
	
	top: 25%;
	left: 25%;
}

.ps.ps-gear:after,
.ps.ps-cog:after,
.ps.ps-settings:after
{
	background-color: transparent !important;
	border-style: dashed;
	border-width: .05em;
	border-radius: .5em;
	
	content: "";
	
	height: 58%;
	width: 58%;
	
	top: 21%;
	left: 21%;
}

.ps.hidden.ps-gear:before,
.ps.hidden.ps-cog:before,
.ps.hidden.ps-settings:before,
.hidden .ps.ps-gear:before,
.hidden .ps.ps-cog:before,
.hidden .ps.ps-settings:before
{
	transform: scale(0);
}

.ps.hidden.ps-gear:after,
.ps.hidden.ps-cog:after,
.ps.hidden.ps-settings:after,
.hidden .ps.ps-gear:after,
.hidden .ps.ps-cog:after,
.hidden .ps.ps-settings:after
{
	transform: scale(0);
}

.ps.ps-animate.ps-gear:before,
.ps.ps-animate.ps-cog:before,
.ps.ps-animate.ps-settings:before
{
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
}

.ps.ps-animate.ps-gear:after,
.ps.ps-animate.ps-cog:after,
.ps.ps-animate.ps-settings:after
{
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
}



/* Search */

.ps.ps-search:before {
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-radius: .5em;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 15%;
	left: 15%;
}

.ps.ps-search:after {
	content: "";
	
	height: 2%;
	width: 50%;
	
	top: 49.14%; /* 15 + (40 / 2) + 14.14 */
	left: 49.14%; /* 15 + (40 / 2) + 14.14 */
	
	transform: rotateZ(45deg);
	transform-origin: 0em 0em;
}

.ps.hidden.ps-search:before,
.hidden .ps.ps-search:before
{
	transform: scale(0);
}

.ps.hidden.ps-search:after,
.hidden .ps.ps-search:after
{
	width: 0;
}

.ps.ps-animate.ps-search:before {
	transition: transform 0.5s cubic-bezier(0, 1.4, 1, 1.4);
}

.ps.ps-animate.ps-search:after {
	transition: width 0.3s ease-in-out 0.5s;
}


/* User */

.ps.ps-user:before,
.ps.ps-person:before
{
	border-radius: .5em;
	
	content: "";
	
	height: 25%;
	width: 25%;
	
	top: 20%;
	left: 37.5%;
}

.ps.ps-user:after,
.ps.ps-person:after
{
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	
	content: "";
	
	height: 30%;
	width: 50%;
	
	top: 50%;
	left: 25%;
}



/* User (outline) */

.ps.ps-user-outline:before,
.ps.ps-person-outline:before
{
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-radius: .5em;
	
	content: "";
	
	height: 25%;
	width: 25%;
	
	top: 20%;
	left: 37.5%;
}

.ps.ps-user-outline:after,
.ps.ps-person-outline:after
{
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	
	content: "";
	
	height: 30%;
	width: 50%;
	
	top: 50%;
	left: 25%;
}




/* Arrow left */

.ps.ps-arrow-left:before {
	content: "";
	
	height: 2%;
	width: 60%;
	
	top: 49%;
	left: 20%;
}

.ps.ps-arrow-left:after {
	background-color: transparent !important;
	border-style: solid;
	border-width: 0;
	border-left-width: .02em;
	border-top-width: .02em;
	
	content: "";
	
	height: 20%;
	width: 20%;
	
	top: 50%;
	left: 19%;
	
	transform-origin: 0 0;
	transform: rotateZ(-45deg);
}



/* Arrow top */

.ps.ps-arrow-top:before,
.ps.ps-arrow-up:before
{
	content: "";
	
	height: 60%;
	width: 2%;
	
	top: 20%;
	left: 49%;
}

.ps.ps-arrow-top:after,
.ps.ps-arrow-up:after
{
	background-color: transparent !important;
	border-style: solid;
	border-width: 0;
	border-left-width: .02em;
	border-top-width: .02em;
	
	content: "";
	
	height: 20%;
	width: 20%;
	
	top: 19%;
	left: 50%;
	
	transform-origin: 0 0;
	transform: rotateZ(45deg);
}



/* Arrow right */

.ps.ps-arrow-right:before {
	content: "";
	
	height: 2%;
	width: 60%;
	
	top: 49%;
	left: 20%;
}

.ps.ps-arrow-right:after {
	background-color: transparent !important;
	border-style: solid;
	border-width: 0;
	border-right-width: .02em;
	border-top-width: .02em;
	
	content: "";
	
	height: 20%;
	width: 20%;
	
	top: 50%;
	left: 61%;
	
	transform-origin: 100% 0;
	transform: rotateZ(45deg);
}




/* Arrow bottom */

.ps.ps-arrow-bottom:before,
.ps.ps-arrow-down:before
{
	content: "";
	
	height: 60%;
	width: 2%;
	
	top: 20%;
	left: 49%;
}

.ps.ps-arrow-bottom:after,
.ps.ps-arrow-down:after
{
	background-color: transparent !important;
	border-style: solid;
	border-width: 0;
	border-left-width: .02em;
	border-bottom-width: .02em;
	
	content: "";
	
	height: 20%;
	width: 20%;
	
	top: 61%;
	left: 50%;
	
	transform-origin: 0 100%;
	transform: rotateZ(-45deg);
}




/* Page */

.ps.ps-page:before {
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-bottom-width: 0;
	
	content: "";
	
	height: 20%;
	width: 40%;
	
	top: 20%;
	left: 30%;
}

.ps.ps-page:after {
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 40%;
	left: 30%;
}




/* Square */

.ps.ps-square:before,
.ps.ps-square-full:before,
.ps.ps-square-outline:before,
.ps.ps-square-empty:before
{
	border-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 30%;
	left: 30%;
}

.ps.ps-square-outline:before,
.ps.ps-square-empty:before
{
	background-color: transparent !important;
}




/* Circle */

.ps.ps-circle:before,
.ps.ps-circle-full:before,
.ps.ps-circle-outline:before,
.ps.ps-circle-empty:before
{
	border-radius: 1em;
	border-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 30%;
	left: 30%;
}

.ps.ps-circle-outline:before,
.ps.ps-circle-empty:before
{
	background-color: transparent !important;
}




/* Bullet */

.ps.ps-bullet:before,
.ps.ps-bullet-full:before,
.ps.ps-bullet-outline:before,
.ps.ps-bullet-empty:before
{
	border-radius: 1em;
	border-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 20%;
	width: 20%;
	
	top: 40%;
	left: 40%;
}

.ps.ps-bullet-outline:before,
.ps.ps-bullet-empty:before
{
	background-color: transparent !important;
}




/* Male */

.ps.ps-male:before {
	background-color: transparent !important;
	border-radius: 1em;
	border-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 30%;
	left: 30%;
}

.ps.ps-male:after {
	content: "";
	
	display: block;
	height: 2%;
	width: 15%;
	
	top: 35.16%; /* 50 - 14.14 - 0.707 */
	left: 63.44%; /* 50 + 14.14 - 0.707 */
	
	transform-origin: 0 0;
	transform: rotateZ(-45deg);
}




/* Female */

.ps.ps-female:before {
	background-color: transparent !important;
	border-radius: 1em;
	border-width: .02em;
	border-style: solid;
	
	content: "";
	
	height: 40%;
	width: 40%;
	
	top: 30%;
	left: 30%;
}

.ps.ps-female:after {
	content: "";
	
	display: block;
	height: 15%;
	width: 2%;
	
	top: 70%;
	left: 49%;
}




/* Question Mark */

.ps.ps-help:before,
.ps.ps-question:before
{
	background-color: transparent !important;
	border-style: solid;
	border-width: .02em;
	border-left-color: transparent !important;
	border-radius: 1em;
	
	content: "";
	
	width: 35%;
	height: 35%;
	
	top: 20%;
	left: 32.5%;
	
	transform: rotateZ(-45deg);
}

.ps.ps-help:after,
.ps.ps-question:after
{
	
	content: "";
	
	width: 2%;
	height: 27%;
	
	top: 53%;
	left: 49%;
}